{% extends "base.html" %}
{% block titulonavbar %}Hello, {{request.session.user.name}}! {% endblock %}
{% block links %}
        <div class="d-flex">
            <a class="btn btn-outline-success" href="/logout">Logout</a>
        </div>
        
{% endblock %}

{% block titulo %}INDEX USUARIO{% endblock %}

{% block contenido %}
<div class="container cajitas p-4 mx-auto text-white">
    <div class="row p-3">
        <h2>Your Trip Schedules!</h2>
    </div>
    <div class="row m-3">
        <div id="tabla" class="p-0 m-1 bg-light" style="border-radius:4px;max-height: 350px; overflow-y: scroll;">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th scope="col">Destination</th>
                        <th scope="col">Travel Start Date</th>
                        <th scope="col">Travel End Date</th>
                        <th scope="col">Plan</th>
                        <th scope="col">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% for trip in your_travels %}
                    <tr>
                        <td>{{trip.destination}}</td>
                        <td>{{trip.travel_from}}</td>
                        <td>{{trip.travel_to}}</td>
                        <td>{{trip.description}}</td>
                        <td> {% if trip.creator.id == request.session.user.id %}<a class="m-2 deletebtn" type="button" data-toggle="modal" data-target="#myModal" href="/delete/{{trip.id}}">delete 🗑️</a>{% endif%}
                            {% if trip.travellers.id == request.session.user.id %}<a class="m-2 deletebtn" type="button" data-toggle="modal" data-target="#myModal" href="/cancel/{{trip.id}}">cancel 🙄</a>{% endif%}
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

    <div class="row p-3">
        <h2>Other Users´s Travel Plans</h2>
    </div>
    <div class="row m-3">
        <div id="tabla" class="p-0 m-1 bg-light" style="border-radius:4px;max-height: 350px; overflow-y: scroll;">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th scope="col">Name</th>
                        <th scope="col">Destination</th>
                        <th scope="col">Travel Start Date</th>
                        <th scope="col">Travel End Date</th>
                        <th scope="col">Do you want to join?</th>
                    </tr>
                </thead>
                <tbody>
                    {% for tr in other_users_travels %}
                    <tr>
                        <td>{{tr.creator.name}}</td>
                        <td><a href="/travelsdestination/{{tr.id}}">{{tr.destination}}</a></td>
                        <td>{{tr.travel_from}}</td>
                        <td>{{tr.travel_to}}</td>
                        <td><a class="m-2" type="button" data-toggle="modal" data-target="#myModal" href="/joining/{{tr.id}}"> Join🧲</a></td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <a class="offset-9 text-white col-2 btn bg-primary p-1 mt-2" href="/travelsadd">Add Travel Plan</a>
    </div>


</div>



{% endblock %}

{% block libreria %}

$('.deletebtn').on('click',function(evento){
    evento.preventDefault();
    const href =$(this).attr('href');
    console.log(href);
    const yes= confirm('Are you sure to delete your trip?');
    if (yes){
        window.location= href
    };
})

{% endblock %}