{% extends "base.html" %}
{% block titulonavbar %}Hello, {{request.session.user.name}}! {% endblock %}
{% block sacar%}
{% endblock %}
{% block links %}
        <div class="d-flex m-3">
            <a class="btn btn-outline-primary" href="/logout">Logout</a>
        </div>
        
{% endblock %}

{% block titulo %}INDEX USUARIO{% endblock %}

{% block contenido %}
<div class="container cajitas p-4 mx-auto text-white">
    <div class="row ps-4 mt-2">
        <h3>Your Trip Schedules!</h3>
    </div>
    <div class="row ms-3 mt-0 me-3">
        <div id="tabla" class="p-0 m-1 bg-light" style="border-radius:4px;max-height: 180px; overflow-y: scroll;">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th scope="col">Destination</th>
                        <th scope="col">Travel Start Date</th>
                        <th scope="col">Travel End Date</th>
                        <th scope="col">Plan</th>
                        <th scope="col">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% for trip in your_total_travels %}
                    <tr>
                        <td>{{trip.destination}}</td>
                        <td>{{trip.travel_from}}</td>
                        <td>{{trip.travel_to}}</td>
                        <td class="text-break">{{trip.description}}</td>
                        <td><a title="cancel :/" class="cancelbtn specialbuttons" href="/cancel/{{trip.id}}">🙄</a>{% if trip.creator.id == request.session.user.id %}<a data="dele" title="delete"class="deletebtn specialbuttons" href="/delete/{{trip.id}}"> 🗑️</a>{% endif%}</td>    
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

    <div class="row ps-4 mt-4">
        <h3>Other Users´s Travel Plans</h3>
    </div>
    <div class="row ms-3 mt-0 me-3">
        <div id="tabla" class="p-0 m-1 bg-light" style="border-radius:4px;max-height: 180px; overflow-y: scroll;">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th scope="col">Name</th>
                        <th scope="col">Destination</th>
                        <th scope="col">Travel Start Date</th>
                        <th scope="col">Travel End Date</th>
                        <th scope="col">Do you want to join?</th>
                    </tr>
                </thead>
                <tbody>
                    {% for tr in other_users_travels %}
                    <tr>
                        <td>{{tr.creator.name}}</td>
                        <td><a href="/travelsdestination/{{tr.id}}">{{tr.destination}}</a></td>
                        <td>{{tr.travel_from}}</td>
                        <td>{{tr.travel_to}}</td>
                        <td class="ms-4"><a title="Join!!!"class="specialbuttons ps-4 ms-4" data="join" type="button" href="/joining/{{tr.id}}"> 🧲</a></td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <a class="offset-9 text-warning fs-7 col-2 btn btn-outline-warning p-2 mt-2" href="/travelsadd">Add Travel Plan</a>
    </div>


</div>



{% endblock %}

{% block libreria %}

    $('.deletebtn').on('click',function(evento){
        evento.preventDefault();
        const href =$(this).attr('href');
        console.log(href);
        const yes= confirm('Are you sure to delete your trip?');
        if (yes){
            window.location= href
        };
    })
    
    $('.cancelbtn').on('click',function(evento){
        evento.preventDefault();
        const href =$(this).attr('href');
        console.log(href);
        const yes= confirm('Are you sure to cancel your trip?');
        if (yes){
            window.location= href
        };
    })





    

{% endblock %}